
* {{
    background:     {background}FF;
    background-alt: {color0}FF;
    foreground:     {foreground}FF;
    selected:       {color4}FF;
		active:         {color5}FF;
    urgent:         {color3}FF;
}}
